<!-- 問い合わせページのみ非表示 -->
<hr>
<!-- Btn Area -->
<div class="row">
  <div class="col-md-12">
    <p class="btn-area">
      <a href="/contact/" class="btn_b">お問い合わせはこちら</a>
    </p>
  </div>
</div>
<!-- ./Btn Area -->
<!-- ./問い合わせページのみ非表示 -->
