<footer id=footer>
  <div class=footer-inner>
    <div class=coontainer>
      <div class=to-top>
        <a href=#wrapper data-scroll>
          <i class="fa fa-angle-up ct-circle"></i>
        </a>
      </div>
      <div id=footer-sns>
        <ul class=subnav_sns>
          <li>
            <a class=sns-twitter href=https://twitter.com/it_boot_camp target=_blank>
              <i class=icon-twitter></i>
            </a>
          </li>
          <li>
            <a class=sns-facebook href="https://www.facebook.com/ishigaki.bootcamp/" target=_blank>
              <i class=icon-facebook></i>
            </a>
          </li>
          <li>
            <a class=sns-line href=http://line.naver.jp/ti/p/o5P-gjFpkt target=_blank>
              <i class=icon-line></i>
            </a>
          </li>
          <li>
            <a class=sns-instagram href="https://www.instagram.com/itbootcamp/" target=_blank>
              <i class=icon-instagram></i>
            </a>
          </li>
        </ul>
      </div>


      <div class=copyright>© 2016 ITブートキャンプ All Rights Reserved.</div>
    </div>
  </div>

</footer>
