<footer id=footer>
  <div class=footer-inner>
    <div class=coontainer>
      <div class=to-top>
        <a href=#wrapper data-scroll>
          <i class="fa fa-angle-up ct-circle"></i>
        </a>
      </div>
      <div id=footer-sns>
        <ul class=subnav_sns>
          <li>
            <a class=sns-twitter href=https://twitter.com/it_boot_camp target=_blank>
              <i class=icon-twitter></i>
            </a>
          </li>
          <li>
            <a class=sns-facebook href="https://www.facebook.com/ishigaki.bootcamp/" target=_blank>
              <i class=icon-facebook></i>
            </a>
          </li>
          <li>
            <a class=sns-line href=http://line.naver.jp/ti/p/o5P-gjFpkt target=_blank>
              <i class=icon-line></i>
            </a>
          </li>
          <li>
            <a class=sns-instagram href="https://www.instagram.com/itbootcamp/" target=_blank>
              <i class=icon-instagram></i>
            </a>
          </li>
        </ul>
      </div>


      <h3>SITE MAP</h3>
      <div class="footer_link">
        <div class="row">
          <div class="col-sm-4">
            <h4><a href="/ibc_faq">IBCとは</a></h4>

            <h4>キャンペーン</h4>
            <ul>
              <li><a href="/campaign_01">学割･授業料半額返金制度</a></li>
              <li><a href="/campaign_02">飛行機代無料</a></li>
            </ul>
            <br>
            <h4><a href="/curriculum">カリキュラム</a></h4>
            <ul>
              <li><a href="/front_end_engineer">フロントエンドエンジニア</a></li>
              <li><a href="/web_design">Webデザイン</a></li>
              <li><a href="/word_press">WordPress</a></li>
              <li><a href="/on_line">オンライン</a></li>
              <li><a href="/ruby">Ruby</a></li>
              <li><a href="/mbc">マーケティング</a></li>
              <li><a href="/ibc-for-recruitment">就活ITブートキャンプ</a></li>
            </ul>

            <h4>場所</h4>
            <ul>
              <li><a href="/lp">石垣校</a></li>
              <li><a href="/niigata">新潟校</a></li>
              <li><a href="/tokyo">東京校</a></li>
              <li><a href="/shimane">島根校</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>評判</h4>
            <ul>
              <li><a href="/voice">参加者の声</a></li>
              <li><a href="/struggles">参加者奮闘記</a></li>
              <li><a href="/interview">インタビュー</a></li>
            </ul>
            <br>
            <h4>卒業後の未来</h4>
            <ul>
              <li><a href="/future_04">IBC認定</a></li>
              <li><a href="/future_01">フリ ーランス＆業務委託</a></li>
              <li><a href="/future_02">職業斡旋</a></li>
              <li><a href="/future_03">サポートメンバー</a></li>
            </ul>
            <br>
            <h4><a href="/faq">FAQ</a></h4><br>
            <h4><a href="/blog">BLOG</a></h4><br>
            <h4><a href="/contact">もっと詳しく</a></h4>
            <br>
          </div>
          <div class="col-sm-4">
            <h4>企業様へ</h4>
            <ul>
              <li><a href="/company_01">研修として社員を参加させたい</a></li>
              <li><a href="/company_02"/>生徒を採用したい</a></li>
              <li><a href="/company_03">卒業生に制作をお願いしたい</a></li>
              <li><a href="/company_04">内定者研修として</a></li>
            </ul>
            <br>
            <ul class="footer_corp_info">
              <li>会社概要</li>
              <li>株式会社Cajon</li>
              <li>〒160-0023</li>
              <li>東京都新宿区西新宿5-1-18</li>
              <li>西新宿パレスビル 3階</li>
              <li>TEL: 03-4330-9320</li>
            </ul>
          </div>


        </div>
        <div class=copyright>© 2016 ITブートキャンプ All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
