
<div id="ibc_wp_form">
  <form class="form-horizontal" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <input type=hidden name="oid" value="00D10000000ZsZk">
    <input type=hidden name="retURL" value="http://i-b-c.jp/thanks/">

    <fieldset>


      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label"><span class="must">(必須)</span>&nbsp;お名前&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-6 col-xs-12">
            <input id="last_name" class="form-control" name="last_name" type="text" placeholder="山田" required>
          </div>
          <div class="col-md-6 col-xs-12">
            <input id="first_name" class="form-control" name="first_name" type="text" placeholder="太郎" required>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label">役職</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <input id="title" class="form-control" name="title" type="text">
          </div>
        </div>
      </div>



      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label"><span class="must">(必須)</span>会社名&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <input id="company" class="form-control" name="company" type="text">
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label"><span class="must">(必須)</span>&nbsp;メール&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <input id="email" class="form-control" name="email" type="email" required>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label">Webサイト</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <input id="URL" class="form-control" name="URL" type="text">
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label"><span class="must">(必須)</span>&nbsp;電話番号&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <input id="phone" class="form-control" name="phone" type="tel" required>
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="left" for="00N10000005AgFAEA0">【IBC企業向けフォーム】お問い合わせ内容</label>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <textarea id="00N10000005AgFAEA0" class="form-control" name="00N10000005AgFAEA0" rows="5" wrap="soft" placeholder="例）採用ニーズ、企業研修としてなど、"></textarea>
          </div>
        </div>
      </div>



      <div class="row form-group form-group-sm">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12">
            <label class="control-label">
              個人情報について&nbsp;&nbsp;&nbsp;</label><br>
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">個人情報保護方針</button>
              <div id="myModal" class="modal fade">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">個人情報保護方針</h4>
                    </div>
                    <div class="modal-body">
                      <p>株式会社Cajon（以下、弊社）は、個人情報を保護することが社会的責務であるとともに、社会の信頼を得て企業活動を推進するために不可欠な要件であると認識しております。<br>
                        弊社は、お客様の個人情報の適切な管理・利用に十分配慮し、次の取り組みを実施します。</p>
                        <p>■ 個人情報の管理<br>
                          <p>弊社は、お客様の個人情報について、管理責任者を任命するとともに、弊社の個人情報保護に関する規定に従って適切に管理します。</p>
                          <p>■ 利用目的と収集範囲<br>
                            <p>弊社は、お客様からお名前・ご住所・電話番号・メールアドレスなどの個人情報をご提供いただく場合は、あらかじめ利用目的やお問い合わせの窓口などをお知らせし、適切な範囲内でお客様の個人情報を収集させていただきます。</p>
                            <p>■ 個人情報の利用<br>
                              <p>お客様から、個人情報を収集させていただく場合は、その目的を明確にお知らせするものとし、次にあげる目的のために利用させていただきます。</p>
                              <ul>
                                <li>お客様からのお問合せへの回答のため。</li>
                                <li>商品のご注文の受付やそれに伴うご連絡のため。</li>
                                <li>商品の配達やそれに伴うご連絡のため。</li>
                                <li>保守サービスのご提供のため。</li>
                                <li>商品やサービスをご案内するダイレクトメールや電子メールを送付するため。</li>
                                <li>当グループのマーケティング及びサービス向上、商品開発のための統計調査のため。</li>
                                <li>各種キャンペーン等のお知らせをお客様にお届けするため。</li>
                              </ul>
                              <p>■ 第三者への提供・開示の禁止<br>
                                <p>弊社は、お客様から同意いただいている場合や法令に基づき開示を請求された場合など正当な理由がある場合を除き、お客様の個人情報を第三者に提供・開示いたしません。</p>

                                <p>■ 業務委託先の監督<br>
                                  <p>弊社は、お客様から同意いただいた利用目的を達成するために、当社より業務委託先に対してお客様の個人情報を開示する場合には、当社と同様の水準で個人情報の厳重な管理を徹底するよう契約により義務付け、これを実施させるなど、適切な監督を行います。</p>

                                  <p>■ 情報セキュリティの確保・向上<br>
                                    <p>弊社は、お客様の個人情報の漏洩・紛失・改ざんなどを防止するため、継続して情報セキュリティの確保・向上に努めます。</p>

                                    <p>■ 教育・啓発<br>
                                      <p>弊社は、すべての役員・従業員に対し、個人情報保護の重要性を理解し、お客様の個人情報を適切に取り扱うよう教育・啓発を行います。</p>

                                      <p>■ 個人情報の開示・訂正などへの対応<br>
                                        <p>弊社は、お客様より収集させて頂いた個人情報を次のいずれかに該当する場合を除き、第三者に提供・開示等は一切致しません。</p>
                                        <ul>
                                          <li>法令等により開示が求められた場合。</li>
                                          <li>お客様からのお問合わせに対し、その内容が当社の協力会社から直接回答するのが適当と当社が判断した場合。</li>
                                          <li>適切な保護処置を講じた上で、当社の協力会社に提供・共同利用する場合。</li>
                                          <li>お客様の事前の同意を得た場合。</li>
                                          <li>お客様及び一般市民の生命、健康、財産等に重大な損害が発生する事を防止する為に必要な場合。</li>
                                          <li>公的機関より法律に基づく権限による開示請求があった場合。</li>
                                        </ul>
                                        <p>弊社は､お客様がご自身の個人情報の開示や訂正などをご希望される場合、お申し出いただいたお客様がご本人であることを確認させていただいた上で、合理的な期間及び範囲で対応させていただきます。</p>

                                        <p>■ 継続的な見直しと改善<br>
                                          <p>弊社は、個人情報保護に関連する法令、その他の規範を遵守するとともに、社会環境の変化に応じて、個人情報保護の取り組みを継続的に見直し、改善します。</p>

                                          <p>ご提供いただく個人情報は、入校などのご案内のために利用いたします。<br>
                                            お客様の同意なしに、上記以外の目的に利用することはありません。</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button class="btn btn-default" type="button" data-dismiss="modal">閉じる</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ./モーダルコンテンツ -->
                                  </div>
                                </div>
                              </div>



                              <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                  <div class="col-xs-12">
                                    <label class="col-md-2 control-label">IBC個人情報</label>
                                  </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                  <div class="col-xs-12">
                                    <div class="togglebutton">
                                      <label>
                                        <input id="00N10000005AdUk" name="00N10000005AdUk" type="checkbox" value="1" required>同意チェック
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>


                              <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                  <button class="btn_a" name="submit" type="submit">送信する</button>
                                </div>
                              </div>
                            </form>
                          </div>
