<!-- navigation -->
<nav id="navbar-custom" class="navbar-fixed-top topnav" data-scroll-header>
  <div class="container topnav">
    <div class="navbar-header">
      <h1 id="site-logo"><a href="/">
        <img src="{{ asset('img/ibc_logo.png') }}" alt="IBCロゴ" />
        <span>ITブートキャンプ</span>
      </a></h1>
      <!--Button -->
      <button type="button" class="navbar-toggle offcanvas-toggle pull-right menu-trigger" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--./Button -->
    </div>
    <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/campaign/" class="dropdown-toggle" data-toggle="dropdown">キャンペーン<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/campaign_01/">学割･授業料半額返金制度</a></li>
            <li><a href="/campaign_02/">飛行機代無料</a></li>
            <li><a href="/cam_lp-2/">女性限定キャンペーン</a></li>
          </ul>
        </li>
        <li><a href="/curriculum/">カリキュラム</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">受講方法<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camp/">合宿</a></li>
            <li><a href="/school/">通って</a></li>
            <li><a href="/on_line/">自宅</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">評判<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/twitter-timeline/">twitterタイムライン</a></li>
            <li><a href="/struggles/">参加者奮闘記</a></li>
            <li><a href="/voice/">参加者の声</a></li>
            <li><a href="/interview/">インタビュー</a></li>
            <li><a href="/experience/">体験談BLOG</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">卒業後<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/future_04/">IBC認定</a></li>
            <li><a href="/future_01/">フリ ーランス＆業務委託</a></li>
            <li><a href="/future_02/">職業斡旋</a></li>
            <li><a href="/future_03/">サポートメンバー</a></li>
          </ul>
        </li>
        <li><a href="/faq/">FAQ</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ログイン/新規登録<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/login/">ログイン</a></li>
            <li><a href="/signup/">新規登録</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">企業様<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/company_01/">研修として社員を参加させたい</a></li>
            <li><a href="/company_02/">生徒を採用したい</a></li>
            <li><a href="/company_03/">卒業生に制作をお願いしたい</a></li>
            <li><a href="/company_04/">内定者研修として</a></li>
          </ul>
        </li>
        <li><a href="/contact/">もっと詳しく</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
  <!-- ./container -->
</nav>
<!-- /navigation -->
