
  <!-- Subnavi -->
  <aside id="subnavi">

    <!-- バナーエリア -->
    <section>
      <div class="title_section">
        <h4>Campaign</h4>
        <p>キャンペーン</p>
      </div>
      <div class="banner">
        <a href="https://i-b-c.jp/christmas/">
          <img src="https://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/christmas_side-banner.jpg" alt="クリスマスキャンペーン" class="img-responsive" pagespeed_url_hash="2987248740" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </a>
      </div>
      <div class="banner">
        <a href="https://i-b-c.jp/ishigaki/">
          <img src="https://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/ishigaki_side-banner.jpg" alt="さようなら、僕らの石垣島" class="img-responsive" pagespeed_url_hash="3147429449" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </a>
      </div>
      <div class="banner">
        <a href="https://i-b-c.jp/contact/">
          <img src="https://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/banner_1.png" alt="お問い合わせ" class="img-responsive" pagespeed_url_hash="1573050573" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </a>
      </div>
      <div class="banner">
        <a href="http://bit.ly/1LEh3Ta">
          <img src="https://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/banner_2.jpg" alt="業務委託実績公開" class="img-responsive" pagespeed_url_hash="1867447790" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </a>
      </div>
      <div class="banner">
        <a href="http://bit.ly/29Tw99C">
          <img src="https://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/banner_3.png" alt="企業研修メンター募集" class="img-responsive" pagespeed_url_hash="2162050415" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </a>
      </div>
    </section>
    <!-- ./バナーエリア -->

    <!-- ソーシャル -->
    <section>
      <div class="title_section">
        <h4>SNS</h4>
        <p>ソーシャル</p>
      </div>
      <ul class="subnav_sns">
        <li><a class="sns-twitter" href="https://twitter.com/it_boot_camp" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a class="sns-facebook" href="https://www.facebook.com/ishigaki.bootcamp/" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a class="sns-line" href="http://line.naver.jp/ti/p/o5P-gjFpkt" target="_blank"><i class="icon-line"></i></a></li>
        <li><a class="sns-instagram" href="https://www.instagram.com/itbootcamp/" target="_blank"><i class="icon-instagram"></i></a></li>
      </ul>
    </section>
    <!-- ./ソーシャル -->

    <!-- Twitterタイムライン -->
    <section>
      <div class="title_section">
        <h4>Twitter</h4>
        <p>タイムライン</p>
      </div>
      <a class="twitter-timeline" href="https://twitter.com/hashtag/IT%E3%83%96%E3%83%BC%E3%83%88%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97" data-widget-id="789375031457394688">#ITブートキャンプ のツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </section>
    <!-- ./Twitterタイムライン -->

  </aside>
</div>
