{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>職業斡旋</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <div class="row">
      <!-- Content -->
      <div class="col-md-9 page-style">
        <!-- 固定ページテンプレート -->
        <section class="page-content">
          <div class="future02">

            <h3>就職･転職活動をフルサポート</h3>
            <h4>書類作成のアドバイス 事前の面接練習 LINEでのやり取りが可能</h4>
            <p>卒業後、企業への就職を希望される場合は、弊社のアドバイザーが、あなたの転職活動を最初から最後まで無料でフルサポートいたします。キャリアプランのご相談だけでなく、最適な求人のご紹介、応募書類の書き方や面接のアドバイス、内定、入社まで全て無料でバックアップいたします。</p>
            <br>
            <h4>安心のサポート体制</h4>
            <h5>【こんなこと不安に感じていませんか？】</h5>
            <ul>
              <li>履歴書、職務経歴書の書き方がよく分からない。</li>
              <li>面接対策って何をすれば良いのか分からない。</li>
            </ul>
            <p><b>安心してください！ 弊社はそんな不安を抱えている方の味方です。</b></p>
            <h5>① アドバイザーが個別にフルサポートいたします！</h5>
            <p>LINEなどを活用し、連絡のやり取りがより気軽に出来ます。</p>
             <h5>② 職務経歴書などのチェックは３営業日以内に対応します！</h5>
            <p>もちろん、書類フォーマットもお送りしますし、書き方事例も共有致します。</p>
              <h5>③ 弊社にお越しいただければ、直接面接練習の指導を致します！</h5>
            <p>遠方の方は、ビデオチャットでも対応可能です。</p>
            <br>
            <h4>面談による最適な進路アドバイス</h4>
            <p>企業への就職を希望される場合は、ITブートキャンプを卒業する前に面談を実施しています。</p>
            <p> その際に、どんな企業・職種・環境などを希望されるか詳しくお聞かせください！</p>
            <p>製作会社・事業会社への就職・・・<b>道は色々です。</b></p>
            <p>弊社は下記事業許可を得ております。 ◼︎ 有料職業紹介事業許可番号 13- ユ -306628</p>
            <br>
            <hr>
            <p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
          </div>
          {% include "/elements/contact_link.twig" %}
        </section>

      </div>
      <div class="col-md-3">
      {% include "/elements/sidebar.twig" %}
    </div>
  </div>
</article>
{% endblock %}
