{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>サポートメンバー</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <div class="row">
      <!-- Content -->
      <div class="col-md-9 page-style">
        <!-- 固定ページテンプレート -->
        <section class="page-content">
          <div class="future03">

            <br>
            <h2>サポートメンバーでIBCの拠点に残ることも</h2>
            <h3>学習しながら報酬をゲット 個別の業務委託を受けられる 講師の右腕となる存在に</h3>
            <h4>IBCを支えるサポートスタッフに</h4>
            <p>卒業後、サポートメンバーとして生徒さんのサポート役に。 最初は<font color="red">学習しながら報酬ももらえる。</font></p>
            <p>ゆくゆくは講師の右腕、メンターとしてITブートキャンプを支える大きな存在になっていただきます。</p>
            <br>
            <h4>サポートメンバーのステップ</h4>
            <h5>Step 1 サポートメンバー見習い</h5>
            <p>『不足しているスキルの学習』と『メンターや正式サポートメンバーのバックアップ』を行いながら、正式メンバーとして必要な知識と実力を養います。</p>
            <br>
            <h5>Step 2 正式サポートメンバー</h5>
            <p>『正式サポートメンバーの条件はカリキュラムに対する質問には全て答えられること』が条件です。 メンターや講師の元で生徒に教えつつ、業務委託を一人で完結できる能力を身につけることを目指します。</p>
            <br>
            <h5>Step 3 メンター（管理業務含む）</h5>
            <p>『カリキュラムに対する知識』と『業務委託を完遂できる実力』の2つを身につけることができれば、晴れてメンターとして認められます。メンターには、正式サポートメンバーや見習いメンバーの管理業務も行っていただきます。</p>
            <br>
            <h3>サポートメンバーの諸条件</h3>
            <p>サポートメンバーをご希望される場合は、事前面談が必須となります。 カリキュラムを最後まで完了させ、講師の承認を得ることが必要です。</p><br>
            <table>
              <tr>
                  <th>見習い サポートメンバー</th> <td>月額10万円</td>
              </tr>
              <tr>
                <th>正式 サポートメンバー</th><td>月額15万円<td>
              </tr>
              <tr>
                <th>メンター (管理業務含む)</th> <td>月額20万円</td>
              </tr>

            </table>
            <div class="check">
            <p><font color="red">*「正式サポートメンバー」への昇格には講師からの認定が必要となります。</font></p>
            <p><font color="red">*「メンター」への昇格には講師からの認定が必要となります。</font></p>
          </div>
            <br>
            <p>勤務地は現在、石垣島・新潟市・東京の3箇所ですが、今後も増え続ける可能性はあります。 フレキシブルにどこでも移動出来る方は大歓迎です。</p>
            <p><strong>サポートメンバー期間は、<font color="red">カリキュラムは無料</font>で受講可能！</strong></p>
            <p>生徒さんに教えるサポートをしてもらうサポートメンバーには、技術力を日々向上させて頂きたいため、 IBCが提供しているカリキュラムの追加受講は、原則無料とさせて頂きます。 詳しくは事務局までお問い合わせください。</p>
            <br>
            <hr>
            <p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
          </div>
          {% include "/elements/contact_link.twig" %}
        </section>

      </div>
      <div class="col-md-3">
        {% include "/elements/sidebar.twig" %}
      </div>
    </div>
  </article>
{% endblock %}
