{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>合宿で学ぶ</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <div class="row">
      <!-- Content -->
      <div class="col-md-9 page-style">
        <!-- 固定ページテンプレート -->
        <section class="page-content">


          <div class="camp">

          <h2>合宿で受講</h2>

          <h3>滞在時間は自由に決められます</h3>
          <p>合宿コースをお選びの方は、ご自身の都合に合わせて滞在期間とオンライン受講期間を設定できます。フロントエンドエンジニアコースであれば、最大８週間。WEBデザインコース、WordPressコースであれば、最大６週間の中で滞在期間とオンライン受講期間を選んで頂けます。</p>
          <hr>
          <p>ITブートキャンプがお薦めしている受講期間</p>
          <p>フロントエンジニアコースコース 8週間</p>
          <p>滞在４週間　＋　オンライン受講４週間  合計８週間</p>
          <br>
          <p>WEBデザインコース or WordPressコース 6週間</p>
          <p>滞在2週間　＋　オンライン受講４週間  合計6週間</p>
          <br>
          <hr>
          <h3>人間が変わるには３つの方法しかない。</h3>
          <p>IBCは、そんなITエンジニアに”変わりたい”人を全力でサポートするサービスです。</p>
          <p>どこかの偉人がこう言っています。</p>
          <strong>「人間が変わるには３つの方法しかない」</strong>
          <ul>
              <li>時間配分を変える</li>
              <li>住む場所を変える</li>
              <li>付き合う人を変える</li>
          </ul>
          <p><font color="red">IBCには、その全てが取り入れられています。</font></p>
          <p>“変わる”には、自分を追い込む勇気が必要です。1ヶ月で必要なスキルを身につける。中途半端なことをしても一生変われないままです。</p>
          <p><b>本気で人生を変えたい人、ITエンジニアになりたい人</b>をIBCは本気で応援します。</p>
          <br>
          <hr>
          <h3>本気で人生を変えたい人は、特別な環境として下記の校舎をお選び下さい。</h3>
          <h4>石垣校舎</h4>
          <p>受講可能コース</p>
          <p>フロントエンジニア</p>
          <p>Webデザイン</p>
          <p>WordPress</p>
          <p><a href="/lp/">詳細はこちら</a></p>
          <br>
          <h4>東京校</h4>
          <p>受講可能コース</p>
          <p>フロントエンジニア</p>
          <p>Webデザイン</p>
          <p>WordPress</p>
          <p>就活ITブートキャンプ</p>
          <p><a href="/tokyo/">詳細はこちら</a></p>
          <br>
          <h4>島根校</h4>
          <p>フロントエンジニア</p>
          <p>Webデザイン</p>
          <p>WordPress</p>
          <p><a href="/shimane/">詳細はこちら</a></p>
          <br>
          </div>
          {% include "/elements/contact_link.twig" %}
        </section>

      </div>
      <div class="col-md-3">
        {% include "/elements/sidebar.twig" %}
      </div>
    </div>
  </article>
{% endblock %}
