{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
 <!-- FV -->
    <header id="canvas-container">
      <div class="parallax-picture all-bg">
        <div class="top_pic">
          <article id="recommend-pic" class="parallax-pic_inner">
            <h1>FAQ</h1>
            <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
             <defs>
              <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
             </defs>
              <g class="parallax">
               <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
              </g>
            </svg>
          </article>
        </div>
      </div>
    </header>
    <!-- ./FV -->

    <!-- 固定ページテンプレート -->
    <article id="page-wrapper">
      <!-- Page Content -->
      <div class="container">
        <hr class="style-hr">
             <div class="row">
                    <!-- Content -->
                    <div class="col-md-9 page-style">
              <!-- 固定ページテンプレート -->
              <section class="page-content">

                <!-- pタグ自動挿入制御 -->
                                  <div id="faq-container" class="row">
  <h2>よくあるご質問</h2>

  <div class="col-md-12">
    <div class="faq-content">
      <h4>Q：未経験者でも参加できますか？</h4>
      <p>参加者の80％は制作経験のない未経験者で、カリキュラムは未経験からでもスキルを身につけられるように作成されています。<br>
        また、個人差のつきやすい講義式の学習ではなく、個別学習式を採用しているので、自分のペースでカリキュラムを進めることが可能です。<br>
        わからない箇所はすぐに質問して解決できるよう、オンラインチャットで質問することも可能です。<br>
        入校1年間はオンラインチャットやビデオチャットが利用できるので、卒業後も安心です。</p>
    </div>

    <div class="faq-content">
      <h4>Q：プログラミングコースはありますか？</h4>
      <p>今注目のプログラミング言語の「Ruby」が受講できます。<br>
        Rubyコースでは、Rails技術者認定ブロンズレベルのスキルを修得可能です。<br>
        また、市場でのニーズの高い「Java」コースを2017年1月よりスタートを予定しております。</p>
    </div>

    <div class="faq-content">
      <h4>Q：学習時間は何時間ですか？</h4>
      <p>自分で進める個別学習タイプの為、学習時間は決まっておりません。<br>
        講師のサポートは9:30〜22:30ですが、講師が教室にいる間は時間外でも質問が可能です。<br>
        また、オンライン上でも質問が可能ですので、時間や場所にとらわれずにカリキュラムを進めることができます。</p>
    </div>

    <div class="faq-content">
      <h4>Q：すべての授業を受けないとダメですか？</h4>
      <p>いいえ、大丈夫です。 経験のあるものは飛ばし、苦手なものに重点を置いて進めていただきます。</p>
    </div>

    <div class="faq-content">
      <h4>Q：業務委託はどれくらい稼げますか？</h4>
      <p>個人のスキルや制作内容により委託できる案件には幅があります。<br>
        スキルのレベルや条件がマッチすれば30万円以上の大型案件の委託も可能です。</p>
    </div>

    <div class="faq-content">
      <h4>Q：支払い方法は何ですか？</h4>
      <p>クレジット支払い（JCB以外）と銀行振込が可能です。<br>
        また、月額ローンを組むことも可能です。</p>
    </div>

    <div class="faq-content">
      <h4>Q：分割払いは可能ですか？</h4>
      <p>最大36回の分割支払いが可能です。<br>
        詳しくはお問い合わせください。</p>
    </div>

    <div class="faq-content">
      <h4>Q：受講の際に必要なソフトはありますか？</h4>
      <p>受講するコースにより必要なソフトは異なります。<br>
        PhotoshopやIllustratorが必要な場合は、体験版の利用の仕方をご紹介しております。</p>
    </div>

    <div class="faq-content">
      <h4>Q：PCはMacではないとダメですか？</h4>
      <p>Windowsでも大丈夫です。 PCのご購入をご検討されている方はお気軽に事務局にご相談くださいませ。<br>
        また、各校にはレンタルPCもございます。台数には限りがある為、お問い合わせ時にご確認ください。</p>
    </div>

    <div class="faq-content">
      <h4>Q：オンラインコースは海外からでも参加できるのでしょうか？</h4>
      <p>はい。もちろん参加可能です。<br>
        自分のペースで進めて頂けるので、ネット環境が整っていれば海外でも問題なく進めることができます。<br>
        実際に海外から参加されている生徒さんもいらっしゃいますので、ご安心ください。</p>
    </div>

    <div class="faq-content">
      <h4>Q：いつから参加可能ですか？</h4>
      <p>ご自身の参加したい日時に合わせて参加することができます。<br>
        <small>※場合によってご希望に添えない場合もございますので、１度事務局にご相談下さいませ。</small></p>
      <p>フリーランスコースに関しては、「ふるさと農業研修制度」の審査の受付期間がある為、まずは事務局までお問い合わせください。</p>
    </div>

    <div class="faq-content">
      <h4>Q：カリキュラムはどのように進めていくのですか？</h4>
      <p>Lessonごとの課題を目標に、ご自身のペースで進めて頂きます。<br>
        とにかく手を動かすことを重視したカリキュラムなので、わからない場合はすぐに講師に質問せずに、自分で調べてわからない場合にのみ講師に質問することで、卒業した後も活躍できる力を身につけます。</p>
    </div>
    <hr>
    <p>
    LINE@ LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！
    </p>

    {% include "/elements/contact_link.twig" %}
</section>

</div>
<div class="col-md-3">
  {% include "/elements/sidebar.twig" %}
</div>
</div>
</article>
{% endblock %}
