{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>Twitterタイムライン</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <div class="row">
      <!-- Content -->
      <div class="col-md-9 page-style">
        <!-- 固定ページテンプレート -->
        <section class="page-content">

            <a class="twitter-timeline"  href="https://twitter.com/hashtag/IT%E3%83%96%E3%83%BC%E3%83%88%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97" data-widget-id="749618715356835840">#ITブートキャンプ Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          {% include "/elements/contact_link.twig" %}
        </section>

      </div>
      <div class="col-md-3">
      {% include "/elements/sidebar.twig" %}
    </div>
  </div>
</article>
{% endblock %}
