{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>参加者の声</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <div class="row">
      <!-- Content -->
      <div class="col-md-9 page-style">
        <!-- 固定ページテンプレート -->
        <section class="page-content">
          <div class="voice_page">

            <h2>参加者の声</h2>
            <br>
            <p>キャンプ参加動機について    キャンプに参加して  キャンプ参加中に</p>
            <p>あなたにとって  卒業後の進路について    これからキャンプに</p>
            <br>
            <h3>キャンプ参加動機について</h3>
            <br>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間専業主婦</span>
              <p>システムについて基礎を学び仕事へ活かせればとおもい志望させていただきました。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性30歳 S.Sさんシェアハウス型28日間システムエンジニア</span>
              <p>もともとバックエンドのシステムエンジニアをしていたので、フロントエンドの知識を身につけることで今後の就職や自身のスキルアップの繋がると考えたため</p>
            </div>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間専業主婦</span>
              <p>結婚後色々な仕事に就く中で、家庭の問題や働き方で、職場を変えていましたが、一つの職種で、職場も変わることなく、技術を極めていきたいと考え、興味があったウェブデザイナーを探している時に、今回のキャンプを知り参加させていただきました。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性54歳 匿名さん宿泊フリー型28日間ライター</span>
              <p>仕事の幅の可能性を広げるため。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>場所にとらわれない自由な働き方をしたかった！都心から離れて住んでいるが、自分の可能性を広げたかった！</p>
            </div>
            <hr>
            <h3>28日間（もしくは14日間)キャンプに参加して、どんな技術を身につけ、参加前に比べてどんな風に変わることができたか教えて下さい。</h3>
            <div class="voice_content">
              <span class="male">男性30歳 S.Sさんシェアハウス型28日間システムエンジニア</span>
              <p>手をひたすら動かすことで、フロントエンドの知識をある程度身につけることができた。 本を読んだり講義を受けたりするよりも、一番の勉強法が手を動かすことだと分かったので 今後の新たな言語を勉強する際にも役立てると思う。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間専業主婦</span>
              <p>28日間で技術が身についた！という実感よりも、今まで未知の世界だったwebの世界を知って使うアプリケーションの基礎を学ばせていただいたと思っています。参加前に思い描いていた未来は「フリーランスとしてすぐ技術が備わり一人でお仕事ができる」でしたが、卒業した今思い描く未来は「日々勉強して向上心をもってスキルアップしていきたい」にかわりました。それは精神面で（一人で仕事をすることに対して）強くなったと自分では思っています。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性54歳 匿名さん宿泊フリー型28日間ライター</span>
              <p>フロントエンジニアの基本の「き」が身についたと思います。ブートストラップのテンプレートを用い、簡単なHPが作れるようになりました。いろいろなサイトのコードを見て、どのような作りかを判別できるようになりました。メディアを制作する側にいましたが、システム側の人が言うことが多少理解できるようになったと思います。</p>
            </div><div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>身につけた技術：htmlマークアップ、無料テンプレートを使って、自分にも”いけてるサイト”が作れるということ、カリキュラムのほとんどすべては未体験の内容だったので、多くの新しい知識が得られました。</p>
            </div>
            <hr>
            <h3>キャンプ参加中にうまくいかなかったこと、苦労したことを教えて下さい。</h3>
            <div class="voice_content">
              <span class="male">男性30歳 S.Sさんシェアハウス型28日間システムエンジニア</span>
              <p>課題制作で自分で考えて、内容を作り上げることの難しさ。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性22歳 S.Yさん宿泊フリー型28日間学生</span>
              <p>モチベーションを保つこと</p>
            </div>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間専業主婦</span>
              <p>時間の使い方に苦労しました。煮詰まっていても、期間中に全て終わらせたいという焦りがあり やらなきゃ、今日中にここまでやりたいという気持ちばかりが焦りました。気持ちをきりかえたり 気分転換をすると悩んでいた問題点が小さなミスだったと気がつくことも多かったので 今後フリーランスで仕事をする上でも時間の使い方は重要になるとおもうのでうまく使えるようになりたいと思っています。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性54歳 匿名さん宿泊フリー型28日間ライター</span>
              <p>すぶのド素人でしたので、30日間日々カリキュラムをこなすことで精一杯でした。毎日、壁に当たりました。乗り越えられない日は悔しくて宿に戻ってもmacとにらめっこしました。同じ宿の参加生と夜中まで問題に取り組んだこともありました。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>HTML&CSSのトレーニングのなかで、余白の調整や文字の中央揃えが毎回手こずった。</p>
            </div>
            <hr>
            <h3>あなたにとってキャンプ期間はどのような日々でしたか？</h3>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間会社員</span>
              <p>楽しく、リフレッシュができて学びやすい環境でした。人生の中でもう一度はないと思うので本当に大切な時間を過ごせたと思います。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性30歳 S.Sさんシェアハウス型28日間システムエンジニア</span>
              <p>非常に有意義な時間であった。他の生徒に負けないように努力したり、時には分かる範囲で教えたりできたことは自身のスキルアップに役立った。石垣島という環境が良く、素晴らしい景色を見れたりできたのも良かった。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性22歳 S.Yさん宿泊フリー型28日間学生</span>
              <p>自分と向き合い日々成長する毎日でした。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさん宿泊フリー型28日間専業主婦</span>
              <p>石垣島は初めて来た土地ですが、地元の方も優しい方が多くて とても親身にしていただけました。 ２８日間は勉強するために集まっていたのであまり他の生徒さんと 交流をとってこなかったのでそれは残念だったと思っています。 同じタイミングで、同じ夢をもっている人と集まれる機会なので もう少し交流があってもよかったのかなと思っています。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>「自分の限界を超える」という体験をした。島での生活・勉強共に、自分自信とよく向き合う期間になった。他の人に左右されない、自分自信の考え、目標ということが明確になってきた。</p>
              <p>「新しい自分を発見した」</p>
            </div>
            <hr>
            <h3>卒業後の進路について教えて下さい。</h3>
            <div class="voice_content">
              <span class="male">男性30歳 S.Sさんシェアハウス型28日間システムエンジニア</span>
              <p>現在は自宅で、キャンプ中に終われなかった課題を実施中。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性22歳 S.Yさん宿泊フリー型28日間学生</span>
              <p>フリーランスの仕事をこなすことです。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさん宿泊フリー型28日間専業主婦</span>
              <p>現在は石垣島でサポートメンバーをさせて頂いております。 質問に答えることで自分の勉強にもなりますし、新しい発見もあり 日々楽しく過ごさせていただいています。 現在HPリニューアルの案件をいただいており作成していますが 悩むこともおおいので本当に日々努力が必要だと感じています。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性54歳 匿名さん宿泊フリー型28日間ライター</span>
              <p>カホンさんを通じ就職斡旋をしてもらいつつ、自分でも仕事を探しています。エンジニアになるほどの実力はないので、何かITに関連のあるものを探しています。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>御社よりLP案件をいただくことができたので、よいものになるよう日々奮闘しています。辛いけどがんばります！</p>
            </div>
            <hr>
            <h3>これからキャンプに参加しようか迷っている方に向けて何かメッセージがあればお願いします。</h3>
            <div class="voice_content">
              <span class="female">女性32歳 T.Mさんシェアハウス型28日間会社員</span>
              <p>非日常空間で、好きな時間に自分のペースで勉強し、 ある適度の息抜きをしながら、自分を見つめなおす事が出来るとても素敵な研修プランかと思いました。 エンジニアを本気で勉強したい方にとっても、絶対に難しさで壁にぶち当たる事もあるとおもいます。 ただ、石垣島という場所柄癒され…それの繰り替えしです。 絶対に参加できる環境があるのでしたら参加するべきかと思います。</p>
            </div>
            <div class="voice_content">
              <span class="male">男性54歳 匿名さん宿泊フリー型28日間ライター</span>
              <p>ブートキャンプはあくまで初めの一歩だと考えています。参加するまえに自分で調べて自習しておいた方がベターだと思います。その方が飲み込みが早いと思います。あと自分を追い込めない人はやめた方がいいでしょう。わざわざ石垣島に行く意味はそこにあると思います。といっても要はいかに理解できるかですので、自分のペースでやればいいと思います。</p>
            </div>
            <div class="voice_content">
              <span class="female">女性34歳 K.Iさんシェアハウス型28日間製造業会社員</span>
              <p>キャンプはきついけど、あきらめずに進めば新しい人生が開けると信じています！がんばりましょう！</p>
            </div>
            <div class="voice_content">
              <span class="female">女性28歳 R.Kさんシェアハウス型28日間営業補佐</span>
              <p>目標ややりたい事がある方にはお勧めしたいです。参加する前は、生活面含め不安がありましたが、集中できる環境で長い期間真剣に取り組む事で、帰ってからの行動に大きな影響があります。何かしてもらうことより自分から動くことが参加してから大事になると思います。</p>
            </div>
            <hr>
            <p><a href="/voice/contact/">もっと詳しく</a></p>
            <p>LINE@  LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！</p>
          </div>
          {% include "/elements/contact_link.twig" %}
        </section>
      </div>
      <div class="col-md-3">
        {% include "/elements/sidebar.twig" %}
      </div>
    </div>
  </article>
{% endblock %}
